#response {
	display: flex;
	flex-direction: column-reverse;
	position: absolute;
	top: 0;
	right: 20px;
	height: 100%;
	width: auto;
	margin-bottom: 10px;
	/*border: 3px solid red;*/
}
.toast {
	padding: 15px;
	width: 270px;
	display: block;
	height: 50px;
	background: red;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #fff;
	text-align: left;
	line-height: 20px;
	background: #57606f;
	border-radius: 5px;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.toast-success {
	background: #2ed573;
}
.toast-info {
	background: #1e90ff;
}
.toast-warning {
	background: #ffa502;
}
.toast-error {
	background: #ff4757;
}

